@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

html .flexbox-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}

.flexbox-item {
    width: 100%;
    margin: 2px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    
}

.flexbox-item-1 {
    min-height: 200px;
}

.flexbox-item-2 {
    min-height: 100px;
}

.flexbox-item-3 {
    min-height: 400px;
}

.flexbox-item-4 {
    min-height: 200px;
    flex-grow: 1;
}

h1, h3 {
    text-align: center;
}

h4 {
    text-align: center;
    padding-top: 50px;
}

p {
    text-align: center;
}
